<aside class="login-glass m-2">
    <h3 class="mt-4">Egaugnal</h3>
    <div class="m-2">
        <a href="/startpage">
            <button class="btn btn-light m-1">Home</button>
        </a>
    </div>
    <div class="m-2">
        <button id="logout" class="btn btn-light m-1" type="submit">Logout</button>
    </div>
    <div>
       <a href="/scorepage">
        <button class="bbtn btn-light mt-2 mb-2">High Scores</button>
        </a>
    </div>
</aside>

<div class="h-100 m-2 card-box login-glass">
    <div class="d-flex my-2 mx-3 align-items-center justify-content-between">
        <p id="englishWord" style="display: none;">{{displayWord.word_name}}</p>
        <h2 id="wordToLearn" class="mt-2 mb-2 word-on-card" style="color: white;">{{transformWord.text}}</h2>
        <div>
        <button id="backBtn" class="btn btn-light mt-2 mb-2 btn-l">back</button>
        <button id="flipBtn" class="btn btn-light mt-2 mb-2 btn-r">flip</button>
        </div>
    </div>
    <div>
        <img src="{{displayWord.img}}" class="image-container" alt="{{displayWord.word_name}}">
    </div>
    <div class="m-3">
        <input class="form-input col-12 mx-0" name="uesr_guess" id="guess" cols="30" rows="1"
            placeholder="Your guess"></input>
        <section class="card-btns">
            <div class="mt-3">
                <button id="guessBtn" class="btn btn-light btn-l">guess</button>
                <audio autobuffer="autobuffer" id="play-sound" src={{audioSource}}></audio>
                {{#if nextBtnURL}}
                <a class="btn btn-light mt-2 mb-2 btn-r" href="{{nextBtnURL}}">next</a>
                {{else}}
                <a href="/scorepage">
                    <button id="finishBtn" class="btn btn-light mt-2 mb-2 btn-r">finish</button>
                    ></a>
                {{/if}}
                <button class="col-1 btn btn-light btn-c"
                    onclick="document.getElementById('play-sound').play()">🔊</button>

            </div>
        </section>
    </div>
</div>

<script src="/js/submitguess.js"></script>
<script src="/js/flipcard.js"></script>

<script src="/js/logout.js"></script>