<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
    <div>
        <a href="/startpage">
            <button class="btn btn-light mt-2 mb-2">Home</button>
        </a>
    </div>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <button class="btn btn-light mt-2 mb-2" type="submit">High Scores</button>
    </div>
</aside>

<div class="h-100 m-2 card-box login-glass">
    <p id="targetLanguage">{{name}}</p>
    <h2 lang="sp">{{dispalyWord.word_name}}</h2>
    <div>
    <img class="image-container" src="{{dispalyWord.img}}" alt="">
    </div>
    <div class="m-3">
    <input class="form-input col-12 mx-0" name="user_guess" id="guess" cols="30" rows="1"
        placeholder="Your guess"></input>
    <section class="card-btns">
        <div class="mt-3">
            <button id="guessBtn" class="btn btn-light btn-l">guess</button>
            <audio autobuffer="autobuffer" id="play-sound" src={{audioSource}}></audio>
            <a id="nextBtn2" class="btn btn-light btn-r" href="/learningcard/{{next_card dispalyWord.id}}">next</a>
            <button class="col-1 btn btn-light btn-c" onclick="document.getElementById('play-sound').play()">🔊</button>
        </div>
    </section>
    </div>
</div>



<script src="/js/nextcard.js"></script>
<script src="/js/logout.js"></script>