<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
    <div>
        <a href="/startpage">
            <button class="btn btn-light mt-2 mb-2">Home</button>
        </a>
    </div>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <button class="btn btn-light mt-2 mb-2" type="submit">High Scores</button>
    </div>
</aside>


<div class="h-100 mt-5">
    <br>
    <p class="btn btn-light mt-2 mb-2" style="color: white;">{{transformWord.text}}</p>
    <br>
    <img src="{{displayWord.img}}" style="width: 250px" alt="{{displayWord.word_name}}">
    <br>
    <audio autobuffer="autobuffer" id="play-sound" src={{audioSource}}></audio>
    <button onclick="document.getElementById('play-sound').play()">Sound 🔊</button>
    <br>
    <button id="flipBtn" class="btn btn-light mt-2 mb-2">flip</button>
    <br>
    <textarea name="uesr_guess" id="guess" cols="30" rows="1" placeholder="Your guess"></textarea>
    <br>
    <button id="guessBtn" class="btn btn-light mt-2 mb-2">Submit guess</button>
    <br>

    {{#if nextBtnURL}}
    <a class="btn btn-light mt-2 mb-2" href="{{nextBtnURL}}">Next Word</a>
    {{/if}}
</div>



<script src="/js/logout.js"></script>