<aside class="login-glass">
    <h3 class="mt-4">Egaugnal</h3>
    <div class="col">
        <button id="logout" class="btn btn-light mt-2 mb-2" type="submit">Logout</button>
    </div>
    <div>
        <button class="bbtn btn-light mt-2 mb-2" type="submit">High Scores</button>
    </div>
</aside>
<div class="h-100 m-5 login-glass">
    <div class="login-card ">
        {{#each language}}
        <div class="m-3 position-relative">
            <div class="position-static">
                <a class="btn btn-light" id="foreign_language_{{this.id}}" class="stretched-link" href="/learningcard/{{id}}" for="language-{{this.id}}"
                    style="color: white;">{{translate_name this.name}}</a>
                <img src="" alt="">

                <label for="language-{{this.id}}">native form of {{this.name}}</label>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="/js/logout.js"></script>